.select-frame{
  #content {
    width: 800px;
    height: 600px;
    overflow: auto;

    #img-content{
      display: inline-block;
      position: relative;
      margin: 0 auto;
      height: auto;
      width: auto;
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
    }
  }
}
